/* Base styles for body */
body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* white background */
    color: #000000; /* black text */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333333; /* dark background */
    color: #f3f3f3; /* white text */
}

/* Styles for input container */
.input-container {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles for input elements */
input {
    width: 200px; /* Adjust width as needed */
    padding: 5px;
    margin-left: 5px;
}

/* Styles for buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#back-btn {
    position: fixed;
    top: 60px; /* Adjust the top position as needed */
    right: 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Add some top margin */
    display: block; /* Make it a block-level element */
}

#back-btn:hover {
    background-color: #0056b3;
}

/* Styles for the main container */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-top: 50px; /* Adjust margin as needed */
}

/* Styles for center content */
.center-content {
    text-align: center; /* Center text horizontally */
    width: 30%; /* Occupy 30% of the width */
}

/* Styles for images inside center content */
.center-content img {
    margin: 0 auto; /* Center images horizontally */
}

/* Styles for sideways center content */
.center-content-sideways {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    width: 100%; /* Occupy full width */
}

/* Styles for individual items inside sideways center content */
.center-content-sideways > div {
    margin: 0 10px; /* Add margin around divs */
}

/* Styles for rank containers */
.rank-container {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    margin-bottom: 5px; /* Add margin between the rank containers */
}

/* Styles for individual items inside rank containers */
.rank-container > div {
    margin-right: 5px; /* Add space between tier and rank */
}

.data-container {
    position: absolute; /* Position the container absolutely */
    top: 120%; /* Align the top of the container to the vertical center */
    left: 55%; /* Align the left side of the container to the horizontal center */
    transform: translate(-50%, -50%); /* Center the container */
    width: 40%; /* Adjust the width of the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
}

.match-entry {
    margin-bottom: 20px; /*Add bottom margin to separate match entries */
    padding: 10px; /* Padding inside each match entry */
    background-color: #add8e6; /* Light blue background color */
    border: 3px solid #333; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    
    display: flex; /* Display */
    flex-direction: row; /* Horizontal */
    justify-content: space-around; /* Center */
    /* padding: 2%; */
}

.match-entry h3 {
    width: 20%; 
    margin: 0px 10px; 
    padding: 20px;
    color: #000000;
}

.match-entry img {
    width: 20%; 
    margin: 0px 10px; 
    padding: 20px;
}
/* Styles for dark mode toggle button */
#mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#mode-toggle:hover {
    background-color: #0056b3;
}